<div class="flash_container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash_box {% if category %}flash-{{ category }}{% endif %}">
        <div class="flash-message"></div>
        <div>
            <button class="close-flash" onclick="close_flash()">❌</button>
        </div>
        <div>
            {{ message }}
        </div>
        <div>
            <div class="progress-bar">
                <div class="progress" id="flash-progress"></div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='js/flash_messages.js') }}"></script>
{% endblock scripts %}