:root {
    --primary: #2D2430;
    --secondary: #534257;
    --accent: #A43D34;
    --light: #F2F2F2;
    --dark: #1D1D1D;
}

body {
    color: var(--light);
    background-color: var(--primary);
}

.page-wrapper {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, var(--primary), var(--secondary), var(--primary));
}

main {
    width: 100%;
    max-width: 1440px;
    border-left: 0.5em solid black;
    border-right: 0.5em solid black;
    background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p,
span,
div,
a,
li {
    font-family: 'Lora', serif;
}


/* New smooth hover gradient effect with directional gradient */
.hover-gradient {
    transition: background 0.8s ease-in-out, color 0.8s ease-in-out;
}
.hover-gradient:hover {
    background: linear-gradient(to bottom right, var(--secondary), var(--accent));
    color: white;
}
