.flash_box {
    background-color: #e6e6e6;
    color: #333;
    padding: 15px;
    border-radius: 5px;
    border: #721c24;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flash_container {
    position: fixed;
    bottom: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    transition: width 1s linear;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
    border: #155724;
}

.flash-error {
    background-color: #ff7b86;
    color: #721c24;
    border: #721c24;
}
