
/* FORMS */
.form-container {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--color-text);
    background-color: var(--color-form);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius, 0.375rem);
    box-shadow: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form-container:focus {
    border-color: var(--color-primary);
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--color-text);
}

.form-group {
    margin-bottom: 1rem;
}

.form-input {
    display: block;
    /* width: 100%; */
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius, 0.375rem);
    box-shadow: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.checkbox-box {
    width: 1.5rem; /* 6 * 0.25rem */
    height: 1.5rem; /* 6 * 0.25rem */
    background-color: #e5e7eb; /* gray-200 */
    border: 2px solid #9ca3af; /* gray-400 */
    border-radius: 0.375rem; /* rounded */
    transition: background-color 0.2s, border-color 0.2s; /* duration-200 */
}

.peer:checked ~ .checkbox-box {
    background-color: #3b82f6; /* primary */
    border-color: #3b82f6; /* primary */
}

.peer:focus ~ .checkbox-box {
    box-shadow: 0 0 0 2px #3b82f6; /* blue-500 */
}
