<footer>
    <div class="bg-dark text-white py-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <h5>Central Washington Motorcycle Training</h5>
                    <p class="mb-3">Providing quality motorcycle instruction since 2008</p>
                    <div class="d-flex gap-3">
                        <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Home</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Courses</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Schedule</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
                        <li><a href="{{ url_for('users.login_user') }}" class="text-white text-decoration-none">Login</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4">
                    <h5>Contact Info</h5>
                    <p class="mb-2"><i class="fas fa-phone me-2"></i>509-884-6186</p>
                    <p class="mb-2"><i class="fas fa-sms me-2"></i>509-264-1560</p>
                    <p><i class="fas fa-envelope me-2"></i>centralwamotorcycletraining@gmail.com</p>
                </div>
            </div>
            <hr class="my-4">
            <div class="text-center">
                <p class="mb-0">&copy; 2023 Central Washington Motorcycle Training. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>