<style>

</style>

<section class="text-white">
    <h2 class="text-start">Why CWMT?</h2>
    <div class="row mt-3 d-flex justify-content-center gap-3">
        <div class="col-md-3 card bg-dark text-white text-center p-3">
            <p class="fs-3">Safety First</p>
            <p>Our courses are designed with safety as the top priority.</p>
            <div class="p-1 bg-accent rounded">
                <img class="w-100" src="{{ url_for('static', filename='img/landingImage1.png') }}" alt="Cruiser Motorcycle">
            </div>
        </div>
        <div class="col-md-3 card bg-dark text-white text-center p-3">
            <p class="fs-3">Expert Instructors</p>
            <p>Learn from certified professionals with years of riding experience.</p>
            <div class="p-1 bg-accent rounded">
                <img class="w-100" src="{{ url_for('static', filename='img/landingImage2.png') }}" alt="Street Motorcycle">
            </div>
        </div>
        <div class="col-md-3 card bg-dark text-white text-center p-3">
            <p class="fs-3">Hands-On Training</p>
            <p>Experience real-world riding scenarios in a controlled environment.</p>
            <div class="p-1 bg-accent rounded">
                <img class="w-100" src="{{ url_for('static', filename='img/landingImage3.png') }}" alt="Dirt Motorcycle">
            </div>
        </div>
    </div>
</section>