<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Max Capacity</th>
            <th>Number of Days</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for template in templates %}
        <tr>
            <td>
                <span class="editable" data-id="{{ template.id }}" data-column-name="name" data-route="{{ url_for('templates.update') }}">
                    {{ template.name }}
                </span>
            </td>
            <td>
                <span class="editable" data-id="{{ template.id }}" data-column-name="description" data-route="{{ url_for('templates.update') }}">
                    {% if template.description %}
                    {{ template.description }}
                    {% else %}
                    No Description
                    {% endif %}
                </span>
            </td>
            <td>
                <span class="editable" data-id="{{ template.id }}" data-column-name="default_max_capacity" data-route="{{ url_for('templates.update') }}">
                    {{ template.default_max_capacity }}
                </span>
            </td>
            <td>
                <span class="editable" data-id="{{ template.id }}" data-column-name="default_number_of_days" data-route="{{ url_for('templates.update') }}">
                    {{ template.default_number_of_days }}
                </span>
            </td>
            <td>
                <a href="{{ url_for('templates.delete', id=template.id) }}" class="btn">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
