{% extends 'bases/dashboard.html' %}

{% block main %}
<div>
    <h1>Instructor Dashboard</h1>
</div>
<div class="d-flex flex-wrap">
    {% for session in team.get_all_sessions %}
        <div class="session-card ml-5">
            <h3>Session: {{ session.title }}</h3>
            <p>Date: {{ session.date }}</p>
            <p>Time: {{ session.start_time }}</p>
            
            {% if session.primary_instructor_id and session.secondary_instructor_id %}
                <p>Primary Instructor: {{ session.primary_instructor.user.username }}</p>
                <p>Secondary Instructor: {{ session.secondary_instructor.user.username }}</p>
            {% elif session.primary_instructor_id %}
                <p>Primary Instructor: {{ session.primary_instructor.user.username }}</p>
                <p>Secondary Instructor: 
                    <form action="{{ url_for('course_sessions.signup_instructor') }}" method="POST" class="d-inline">
                        <input type="hidden" name="id" id="id" value="{{ session.id }}">
                        <input type="hidden" name="instructor_position" value="secondary">
                        <button type="submit" class="btn btn-primary">Sign Up as Secondary</button>
                    </form>
                </p>
            {% elif session.secondary_instructor_id %}
                <p>Primary Instructor: 
                    <form action="{{ url_for('course_sessions.signup_instructor') }}" method="POST" class="d-inline">
                        <input type="hidden" name="id" id="id" value="{{ session.id }}">
                        <input type="hidden" name="instructor_position" value="primary">
                        <button type="submit" class="btn btn-primary">Sign Up as Primary</button>
                    </form>
                </p>
                <p>Secondary Instructor: {{ session.secondary_instructor.user.username }}</p>
            {% else %}
                <p>Primary Instructor: 
                    <form action="{{ url_for('course_sessions.signup_instructor') }}" method="POST" class="d-inline">
                        <input type="hidden" name="id" id="id" value="{{ session.id }}">
                        <input type="hidden" name="instructor_position" value="primary">
                        <button type="submit" class="btn btn-primary">Sign Up as Primary</button>
                    </form>
                </p>
                <p>Secondary Instructor: 
                    <form action="{{ url_for('course_sessions.signup_instructor') }}" method="POST" class="d-inline">
                        <input type="hidden" name="id" id="id" value="{{ session.id }}">
                        <input type="hidden" name="instructor_position" value="secondary">
                        <button type="submit" class="btn btn-primary">Sign Up as Secondary</button>
                    </form>
                </p>
            {% endif %}
        </div>
    {% endfor %}
</div>
</div>
{% endblock main %}