<div class="flex flex-column justify-between items-center h-100 py-3">
    <div>
        <p>Welcome</p>
        <p>{{ session['user']['username'] }}</p>
    </div>
    <div>
        <p>You need to create your menu here</p>
    </div>
    <div class="flex flex-column gap-1">
        <p class="btn border my-3 bg-secondary openModalBtn" data-modal-target="userSettingsModal"><i class="fa-solid fa-gear pr-2"></i>Settings</p>
        <a class="btn border my-3 bg-danger" href="{{ url_for('users.logout_user') }}"><i class="fa-solid fa-right-from-bracket pr-2"></i>Logout</a>
    </div>
</div>


{% block modals %}
{% include 'components/modals/user_settings.html' %}
{% endblock modals %}