{% extends 'bases/dashboard.html' %}

{% block main %}
<div>
    <h1 class="h3 mb-3">Courses</h1>
</div>
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#calendar" data-toggle="tab">Calendar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#course-types" data-toggle="tab">Course Types</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#add-sessions" data-toggle="tab">Add New Sessions</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="calendar">
        <div class="card">
            <div class="card-body">
                {% include 'pages/courses/subpages/calendar_view.html' %}
            </div>
        </div>
    </div>
    <div class="tab-pane" id="course-types">
        <div class="card">
            <div class="card-body">
                {% include 'pages/courses/subpages/course_types.html' %}
                
            </div>
        </div>
    </div>
    <div class="tab-pane" id="add-sessions">
        <div class="card">
            <div class="card-body">
                {% include 'pages/courses/subpages/sessions.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block modals %}
{% include 'pages/courses/modals/courses.html' %}
{% endblock modals %}