{% set navigation_items = [
    {
        'name': 'Landing Page',
        'url': 'routes.index',
        'icon': 'fa-globe',
        'roles': ['admin', 'instructor', 'student']
    },
    {
        'name': 'Dashboard',
        'url': 'routes.dashboard',
        'icon': 'fa-house',
        'roles': ['admin', 'instructor', 'student']
    },
    {
        'name': 'Instructors',
        'url': 'instructors.index',
        'icon': 'fa-chalkboard-user',
        'roles': ['admin']
    },
    {
        'name': 'Courses',
        'url': 'courses.index',
        'icon': 'fa-book',
        'roles': ['admin']
    }
] %}

<div class="d-flex flex-column justify-content-between h-100 p-3">
    <!-- User Info -->
    <div class="text-center mb-4">
        <p class="h5 mb-1 sidemenu-text">Welcome</p>
        <p class="text-light sidemenu-text">{{ session['user']['username'] }}</p>
    </div>

    <!-- Navigation Menu -->
    <div class="nav flex-column mb-auto">
        {% for item in navigation_items %}
            {% if session['user']['roles'] in item['roles'] %}
                <div class="nav-item">
                    <a href="{{ url_for(item['url']) }}" class="nav-link text-white">
                        <i class="fa-solid {{ item['icon'] }} mr-2"></i>
                        <span class="sidemenu-text">{{ item['name'] }}</span>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Bottom Actions -->
    <div class="mt-auto">
        <button class="menu-btn btn btn-secondary w-100 mb-2" data-bs-toggle="modal" data-bs-target="#userSettingsModal">
            <i class="fa-solid fa-gear me-2"></i><span class="sidemenu-text">Settings</span>
        </button>
        <a class="menu-btn btn btn-danger w-100" href="{{ url_for('users.logout_user') }}">
            <i class="fa-solid fa-right-from-bracket me-2"></i><span class="sidemenu-text">Logout</span>
        </a>
    </div>
</div>

<script>
const collapseBtn = document.querySelector('#sidebarCollapseBtn');
const collapsedText = document.querySelectorAll('.sidemenu-text');
const menuBtns = document.querySelectorAll('.menu-btn');

collapseBtn.addEventListener('click', () => {
    collapsedText.forEach(text => {
        text.classList.toggle('d-none');
    });
    menuBtns.forEach(btn => {
        btn.classList.toggle('px-0');
    });

    collapseBtn.innerHTML = collapseBtn.innerHTML === 'Expand' ? 'Collapse' : 'Expand';
});
</script>

{% block modals %}
{% include 'components/modals/user_settings.html' %}
{% endblock modals %}
