<div class="d-flex flex-column justify-content-between h-100 p-3">
    <!-- User Info -->
    <div class="text-center mb-4">
        <p class="h5 mb-1">Welcome</p>
        <p class="text-light">{{ session['user']['username'] }}</p>
    </div>

    <!-- Navigation Menu -->
    <div class="nav flex-column mb-auto">
        <div class="nav-item">
            <a href="{{ url_for('routes.index') }}" class="nav-link text-white">
                <i class="fa-solid fa-house mr-2"></i>Landing Page
            </a>
        </div>
        <div class="nav-item">
            <a href="{{ url_for('routes.dashboard') }}" class="nav-link text-white">
                <i class="fa-solid fa-house mr-2"></i>Dashboard
            </a>
        </div>
        <div class="nav-item">
            <a href="{{ url_for('instructors.index') }}" class="nav-link text-white">
                <i class="fa-solid fa-chalkboard-user mr-2"></i>Instructors
            </a>
        </div>
        <!-- <div class="nav-item">
            <a href="{{ url_for('routes.examples')}}" class="nav-link text-white">
                <i class="fa-solid fa-code me-2"></i>Components
            </a>
        </div> -->
        <!-- Add more menu items here -->
    </div>

    <!-- Bottom Actions -->
    <div class="mt-auto">
        <button class="btn btn-secondary w-100 mb-2" data-bs-toggle="modal" data-bs-target="#userSettingsModal">
            <i class="fa-solid fa-gear me-2"></i>Settings
        </button>
        <a class="btn btn-danger w-100" href="{{ url_for('users.logout_user') }}">
            <i class="fa-solid fa-right-from-bracket me-2"></i>Logout
        </a>
    </div>
</div>

{% block modals %}
{% include 'components/modals/user_settings.html' %}
{% endblock modals %}