<style>

</style>

<section class="row d-flex justify-content-center align-items-center py-5" id="about">
    <div class="about-text col-md-6 text-white">
        <h2>About Central Washington Motorcycle Training</h2>
        <p class="mt-3">
            Becoming a safe motorcyclist requires a balance between mental and physical skills and an understanding of how these skills apply to you as a motorcyclist. Our purpose as a company is to give you the knowledge and skills it takes to become a safe rider. We are here to train you in those skills or to assist you in advancing your current skills. We welcome the chance to provide you with quality instruction to keep you safe on the road!
        </p>
    </div>
    <div class="about-image col-md-6 text-white d-flex justify-content-end">
        <div>
            <p>Phone: <a href="tel:+15098846186" class="ms-2 text-white text-decoration-none">+1-509-884-6186</a></p>
            <p>Fax: <a href="tel:+15092641560" class="ms-2 text-white text-decoration-none">+1-509-264-1560</a></p>
            <p>Email: <a href="mailto:centralwamotorcycletraining@gmail.com" class="ms-2 text-white ">centralwamotorcycletraining@gmail.com</a></p>
        </div>
    </div>
</section>