<form action="{{ url_for('users.create_user') }}" method="post" class="form-container">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control form-input" value="TylerT">
    </div>
    
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control form-input" value="tt@email.com">
    </div>
    
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control form-input" value="Pass123!!">
    </div>
    
    <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control form-input" value="Pass123!!">
    </div>
    
    <button type="submit" class="btn btn-primary">Create User</button>
</form>


