<form method="POST" action="{{ url_for('users.update_user') }}" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control form-input" id="username" name="username" value="{{ session['user']['username'] }}" required>
    </div>
    
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control form-input" id="email" name="email" value="{{ session['user']['email'] }}" required>
    </div>    
    <button type="submit" class="btn btn-primary">Update User</button>
</form>
