<form method="POST" action="{{ url_for('users.update_user') }}" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="current_password" class="form-label">Current Password</label>
        <input type="password" class="form-control form-input" id="current_password" name="current_password">
    </div>
    
    <div class="mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <input type="password" class="form-control form-input" id="new_password" name="new_password">
    </div>
    
    <div class="mb-3">
        <label for="confirm_new_password" class="form-label">New Password</label>
        <input type="password" class="form-control form-input" id="confirm_new_password" name="confirm_new_password">
    </div>
    
    <button type="submit" class="btn btn-primary">Update User</button>
</form>
